:root {
  color-scheme: dark;

  // Colors
  --clr-primary: #0b0d17;
  --clr-neutral: #d0d6f9;
  --clr-secondary: #ffffff;

  // Typography

  --ff-primary: "Barlow", sans-serif;
  --ff-secondary: "Bellefair", serif;
  --ff-accent: "Barlow Condensed", sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;
}
