@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as m;

h1 {
  font-family: var(--ff-accent);
}

h2 {
  font-family: var(--ff-secondary);
}

h3 {
  text-transform: uppercase;
  font-family: var(--ff-accent);
  font-weight: var(--fw-regular);
  color: var(--clr-neutral);
  letter-spacing: f.rem(2.362);
}

p {
  font-family: var(--ff-primary);
  color: var(--clr-neutral);
}
