@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as m;

.crew {
  position: relative;
  text-align: center;

  @include m.breakpoint(large) {
    text-align: left;
  }

  h2 {
    margin-bottom: f.rem(16);
  }

  &__member {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: f.rem(75);

    @include m.breakpoint(medium) {
      flex-direction: column;
      gap: f.rem(90);
    }
    @include m.breakpoint(large) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      justify-items: start;
      gap: 0;
      margin-left: f.rem(100);
    }
  }

  &__role {
    display: block;
    text-transform: uppercase;
    font-size: f.rem(16);
    opacity: 0.5;
    color: var(--clr-secondary);
    font-weight: var(--fw-regular);

    @include m.breakpoint(medium) {
      font-size: f.rem(24);
    }
    @include m.breakpoint(large) {
      font-size: f.rem(32);
    }
  }

  &__name {
    display: block;
    color: var(--clr-secondary);
    font-size: f.rem(24);
    font-weight: var(--fw-regular);
    text-transform: uppercase;

    @include m.breakpoint(medium) {
      font-size: f.rem(40);
    }
    @include m.breakpoint(large) {
      font-size: f.rem(56);
    }
  }

  &__bio {
    max-width: 38ch;

    @include m.breakpoint(medium) {
      max-width: 65ch;
    }
    @include m.breakpoint(large) {
      max-width: 44ch;
    }
  }

  &__img {
    height: f.rem(222);
    width: 100%;

    @include m.breakpoint(small-only) {
      border-bottom: 1px solid var(--clr-accent);
    }
    @include m.breakpoint(medium) {
      height: f.rem(532);
    }
    @include m.breakpoint(large) {
      height: f.rem(582);
    }
  }

  img {
    height: 100%;
    margin-inline: auto;

    @include m.breakpoint(large) {
      margin-inline: 0;
    }
  }

  .swiper-pagination {
    top: f.rem(222) !important; // height of image
    --swiper-pagination-bottom: auto;
    margin-top: f.rem(32);

    @include m.breakpoint(medium) {
      top: f.rem(196) !important;
    }
    @include m.breakpoint(large) {
      top: auto !important;
      left: 0 !important;
      bottom: 0 !important;
      width: auto !important;
      margin: 0;
      margin-bottom: f.rem(60);
      margin-left: f.rem(100);
    }
  }

  .swiper-pagination-bullet {
    width: f.rem(10);
    height: f.rem(10);
    margin: 0 f.rem(8) !important;
    background-color: var(--clr-secondary);

    @include m.breakpoint() {
      width: f.rem(15);
      height: f.rem(15);
    }

    &:hover,
    &:focus-visible {
      --swiper-pagination-bullet-inactive-opacity: 0.5;
    }
  }
}
