@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as m;

.home {
  text-align: center;

  @include m.breakpoint(medium) {
    padding-top: f.rem(100);
  }

  @include m.breakpoint(large) {
    text-align: left;
  }

  &__title {
    margin-block: f.rem(16);
    color: var(--clr-secondary);
    font-family: var(--ff-secondary);
    font-size: f.rem(80);
    font-weight: 400;
    text-transform: uppercase;

    @include m.breakpoint(medium) {
      font-size: f.rem(150);
    }
  }

  &__subtitle {
    display: block;
    margin-top: f.rem(24);
    color: var(--clr-neutral);
    font-family: var(--ff-accent);
    font-size: f.rem(16);
    font-weight: var(--fw-regular);
    text-transform: uppercase;
    letter-spacing: f.rem(2);

    @include m.breakpoint(medium) {
      font-size: f.rem(20);
    }
    @include m.breakpoint(large) {
      font-size: f.rem(28);
    }
  }

  &__body {
    max-width: 42ch;
    margin-inline: auto;
    color: var(--clr-neutral);
    font-family: var(--ff-primary);

    @include m.breakpoint(medium) {
      max-width: 52ch;
    }
    @include m.breakpoint(large) {
      max-width: 48ch;
      margin-inline: 0;
    }
  }

  &__button {
    color: var(--clr-primary);
    font-size: f.rem(20);
    text-transform: uppercase;
    letter-spacing: f.rem(1.25);

    width: f.rem(150);
    aspect-ratio: 1;
    margin-top: f.rem(80);
    background-color: var(--clr-secondary);
    border-radius: 50%;
    cursor: pointer;

    @include m.breakpoint(xsmall) {
      margin-top: f.rem(16);
    }

    @include m.breakpoint(medium) {
      font-size: f.rem(32);
      letter-spacing: f.rem(2);

      width: f.rem(242);
      aspect-ratio: 1;
    }

    @include m.breakpoint(large) {
      width: f.rem(274);
      aspect-ratio: 1;
    }

    &:hover,
    &:focus-visible {
      outline: transparent;
      animation: pulse 1s forwards;
    }

    @keyframes pulse {
      0% {
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.5);
      }

      100% {
        box-shadow: 0 0 0 f.rem(88) rgba(255, 255, 255, 0.1);
      }
    }
  }

  & .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include m.breakpoint(large) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      align-items: end;
    }
  }
}
