@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as m;

.not-found {
  @include m.breakpoint(small-only) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__heading {
    @include m.breakpoint(small-only) {
      font-size: f.rem(32) !important;
    }
    @include m.breakpoint(medium) {
      font-size: f.rem(36) !important;
    }
    @include m.breakpoint(large) {
      font-size: f.rem(48) !important;
    }
  }

  &__link {
    width: fit-content;
    position: relative;
    display: block;
    font-size: f.rem(14);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: f.rem(2.7);
    color: var(--clr-secondary);

    @include m.breakpoint(medium) {
      margin-left: f.rem(39);
    }
    @include m.breakpoint(large) {
      margin-left: f.rem(100);
    }

    @include m.breakpoint(small-only, medium) {
      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: calc(0 * -1);
        height: f.rem(3);
        width: 100%;
        background-color: var(--clr-secondary);
        transition: opacity 200ms ease-in-out;
        opacity: 0;
      }

      &:hover::after {
        opacity: 0.5;
      }
    }
  }
}
