@use "../abstracts/mixins" as m;
@use "../abstracts/functions" as f;

.primary-header {
  padding-block: f.rem(24);

  @include m.breakpoint(medium) {
    margin-left: f.rem(39);
  }
  @include m.breakpoint(large) {
    margin-left: f.rem(55);
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
