:root {
  color-scheme: dark;
  --clr-primary: #0b0d17;
  --clr-neutral: #d0d6f9;
  --clr-secondary: #ffffff;
  --ff-primary: "Barlow", sans-serif;
  --ff-secondary: "Bellefair", serif;
  --ff-accent: "Barlow Condensed", sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

html {
  overflow-x: hidden;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button {
  font: inherit;
  padding: 0;
  border: none;
}

#root {
  isolation: isolate;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
h1 {
  font-family: var(--ff-accent);
}

h2 {
  font-family: var(--ff-secondary);
}

h3 {
  text-transform: uppercase;
  font-family: var(--ff-accent);
  font-weight: var(--fw-regular);
  color: var(--clr-neutral);
  letter-spacing: 0.147625rem;
}

p {
  font-family: var(--ff-primary);
  color: var(--clr-neutral);
}

.mobile-nav-toggle {
  cursor: pointer;
  z-index: 2;
  background: transparent;
  border: transparent;
  padding: 0.625rem;
}
@media (min-width: 40em) {
  .mobile-nav-toggle {
    display: none;
  }
}

.primary-header {
  padding-block: 1.5rem;
}
@media (min-width: 40em) {
  .primary-header {
    margin-left: 2.4375rem;
    padding-top: 0;
  }
}
@media (min-width: 64em) {
  .primary-header {
    padding-top: 2.5rem;
    margin-left: 3.4375rem;
  }
}
.primary-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  position: relative;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(2.548125rem);
  z-index: 1;
}
@media (min-width: 40em) {
  .nav {
    padding-top: 2.5rem;
    padding-inline: 3rem;
    padding-bottom: 2.5rem;
  }
}
@media (min-width: 64em) {
  .nav {
    padding-inline: clamp(7rem, 10vw, 10rem);
  }
}
@media (max-width: 39.99875em) {
  .nav {
    position: absolute;
    inset: 0;
    left: 100%;
    transition: 0.5s;
    opacity: 0;
    overflow-x: hidden;
  }
  .nav[data-visible=true] {
    left: 33%;
    opacity: 1;
  }
}
.nav__list {
  counter-reset: counter;
  display: flex;
}
@media (max-width: 39.99875em) {
  .nav__list {
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    padding-top: 7.375rem;
    padding-left: 2rem;
  }
}
@media (min-width: 40em) {
  .nav__list {
    align-items: center;
    justify-content: space-between;
    gap: 2.375rem;
  }
}
.nav__item {
  position: relative;
}
@media (max-width: 39.99875em) {
  .nav__item {
    counter-increment: counter;
  }
  .nav__item:first-of-type {
    counter-set: counter 0;
  }
}
@media (min-width: 64em) {
  .nav__item {
    counter-increment: counter;
  }
  .nav__item:first-of-type {
    counter-set: counter 0;
  }
}
.nav__link {
  font-size: 0.875rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.16875rem;
  color: var(--clr-secondary);
}
@media (min-width: 40em) {
  .nav__link::after {
    content: "";
    display: block;
    position: absolute;
    bottom: calc(2.5rem * -1);
    height: 0.1875rem;
    width: 100%;
    background-color: var(--clr-secondary);
    transition: opacity 200ms ease-in-out;
    opacity: 0;
  }
  .nav__link:hover::after {
    opacity: 0.5;
  }
  .nav__link.active::after {
    opacity: 1;
  }
}
@media (max-width: 39.99875em) {
  .nav__link {
    display: flex;
    gap: 0.75rem;
    font-size: 1rem;
  }
  .nav__link::before {
    content: counter(counter, decimal-leading-zero);
    font-weight: var(--fw-bold);
  }
}
@media (min-width: 64em) {
  .nav__link {
    display: flex;
    gap: 0.75rem;
    font-size: 1rem;
  }
  .nav__link::before {
    content: counter(counter, decimal-leading-zero);
    font-weight: var(--fw-bold);
  }
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  inset: 0;
}
body.home-page {
  background-image: url(./assets/home/background-home-mobile.jpg);
}
@media (min-width: 40em) {
  body.home-page {
    background-image: url(./assets/home/background-home-tablet.jpg);
  }
}
@media (min-width: 64em) {
  body.home-page {
    background-image: url(./assets/home/background-home-desktop.jpg);
  }
}
body.destination-page {
  background-image: url(./assets/destination/background-destination-mobile.jpg);
}
@media (min-width: 40em) {
  body.destination-page {
    background-image: url(./assets/destination/background-destination-tablet.jpg);
  }
}
@media (min-width: 64em) {
  body.destination-page {
    background-image: url(./assets/destination/background-destination-desktop.jpg);
  }
}

@media (max-width: 39.99875em) {
  .wrapper {
    width: calc(100% - 3rem);
    margin-inline: auto;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.destination {
  text-align: center;
}
@media (min-width: 64em) {
  .destination {
    text-align: left;
    margin-top: 4.75rem;
  }
}
.destination__title {
  display: flex;
  gap: 1.125rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: var(--fw-regular);
  text-transform: uppercase;
  letter-spacing: 0.16875rem;
}
@media (max-width: 39.99875em) {
  .destination__title {
    justify-content: center;
  }
}
@media (min-width: 40em) {
  .destination__title {
    font-size: 1.25rem;
    margin-left: 2.4375rem;
  }
}
@media (min-width: 64em) {
  .destination__title {
    font-size: 1.75rem;
    margin-left: 6.25rem;
  }
}
.destination__title span {
  color: var(--clr-secondary);
  font-weight: var(--fw-bold);
  opacity: 0.25;
}
@media (min-width: 64em) {
  .destination__tabs-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
    justify-items: center;
  }
}
.destination__img {
  width: 10.625rem;
  margin-inline: auto;
  margin-bottom: 1.625rem;
}
@media (min-width: 40em) {
  .destination__img {
    width: 18.75rem;
  }
}
@media (min-width: 64em) {
  .destination__img {
    width: 28.125rem;
    margin-bottom: 0;
  }
}
.destination [role=tablist] {
  display: flex;
  gap: 1.6875rem;
  justify-content: center;
  padding-bottom: 0.5rem;
  margin-bottom: 1.25rem;
  list-style: none;
}
@media (min-width: 40em) {
  .destination [role=tablist] {
    padding-bottom: 0.75rem;
  }
}
@media (min-width: 64em) {
  .destination [role=tablist] {
    justify-content: start;
  }
}
.destination [role=tablist] [role=presentation] {
  position: relative;
}
.destination [role=tablist] [role=tab] {
  color: var(--clr-neutral);
  font-family: var(--ff-accent);
  font-size: 0.875rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.147625rem;
}
@media (min-width: 40em) {
  .destination [role=tablist] [role=tab] {
    font-size: 1rem;
  }
}
.destination [role=tablist] [role=tab]::before {
  content: "";
  display: block;
  position: absolute;
  bottom: calc(0.5rem * -1);
  height: 0.1875rem;
  width: 100%;
  background-color: var(--clr-secondary);
  transition: opacity 200ms ease-in-out;
  opacity: 0;
}
@media (min-width: 40em) {
  .destination [role=tablist] [role=tab]::before {
    bottom: calc(0.75rem * -1);
  }
}
.destination [role=tablist] [role=tab][aria-selected=true] {
  color: var(--clr-secondary);
}
.destination [role=tablist] [role=tab]:hover::before {
  opacity: 0.5;
}
.destination [role=tablist] [role=tab][aria-selected=true]::before {
  opacity: 1;
}
.destination__name {
  font-family: var(--ff-secondary);
  font-size: 3.5rem;
  text-transform: uppercase;
}
@media (min-width: 40em) {
  .destination__name {
    font-size: 5rem;
  }
}
@media (min-width: 64em) {
  .destination__name {
    font-size: 6.25rem;
  }
}
.destination__description {
  font-size: 0.9375rem;
  line-height: 1.7;
  padding-bottom: 1.75rem;
  border-bottom: 1px solid hsl(231, 15%, 26%);
  margin-bottom: 1.75rem;
}
@media (min-width: 40em) {
  .destination__description {
    font-size: 1rem;
    line-height: 1.75;
  }
}
@media (min-width: 64em) {
  .destination__description {
    font-size: 1.125rem;
    line-height: 1.78;
    max-width: 44ch;
    padding-bottom: 3.375rem;
  }
}
@media (min-width: 40em) {
  .destination__description.wrapper {
    width: calc(100% - 12.25rem);
    margin-inline: auto;
  }
}
@media (min-width: 64em) {
  .destination__description.wrapper {
    width: auto;
    margin-inline: 0;
  }
}
@media (min-width: 40em) {
  .destination__extra-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.6875rem;
  }
}
.destination__distance {
  margin-bottom: 1.5rem;
}
@media (min-width: 40em) {
  .destination__distance {
    margin-bottom: 0;
  }
}
.destination__distance-title {
  font-size: 0.875rem;
  margin-bottom: 0.75rem;
}
.destination__distance-value {
  color: var(--clr-secondary);
  font-family: var(--ff-secondary);
  font-size: 1.75rem;
  text-transform: uppercase;
}
.destination__travel-title {
  font-size: 0.875rem;
  margin-bottom: 0.75rem;
}
.destination__travel-value {
  color: var(--clr-secondary);
  font-family: var(--ff-secondary);
  font-size: 1.75rem;
  text-transform: uppercase;
}

.home {
  text-align: center;
}
@media (min-width: 40em) {
  .home {
    padding-top: 6.25rem;
  }
}
@media (min-width: 64em) {
  .home {
    text-align: left;
  }
}
.home__title {
  margin-block: 1rem;
  color: var(--clr-secondary);
  font-family: var(--ff-secondary);
  font-size: 5rem;
  text-transform: uppercase;
}
@media (min-width: 40em) {
  .home__title {
    font-size: 9.375rem;
  }
}
.home__subtitle {
  display: block;
  margin-top: 1.5rem;
  color: var(--clr-neutral);
  font-family: var(--ff-accent);
  font-size: 1rem;
  font-weight: var(--fw-regular);
  text-transform: uppercase;
  letter-spacing: 0.125rem;
}
@media (min-width: 40em) {
  .home__subtitle {
    font-size: 1.25rem;
  }
}
@media (min-width: 64em) {
  .home__subtitle {
    font-size: 1.75rem;
  }
}
.home__body {
  max-width: 42ch;
  margin-inline: auto;
  color: var(--clr-neutral);
  font-family: var(--ff-primary);
  font-size: 0.9375rem;
  line-height: 1.8;
}
@media (min-width: 40em) {
  .home__body {
    max-width: 52ch;
    font-size: 1rem;
  }
}
@media (min-width: 64em) {
  .home__body {
    max-width: 48ch;
    margin-inline: 0;
    font-size: 1.125rem;
  }
}
.home__button {
  color: var(--clr-primary);
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.078125rem;
  width: 9.375rem;
  aspect-ratio: 1;
  margin-top: 5rem;
  background-color: var(--clr-secondary);
  border-radius: 50%;
  cursor: pointer;
}
@media (max-width: 23.125em) {
  .home__button {
    margin-top: 1rem;
  }
}
@media (min-width: 40em) {
  .home__button {
    font-size: 2rem;
    letter-spacing: 0.125rem;
    width: 15.125rem;
    aspect-ratio: 1;
  }
}
@media (min-width: 64em) {
  .home__button {
    width: 17.125rem;
    aspect-ratio: 1;
  }
}
.home__button:hover, .home__button:focus-visible {
  outline: transparent;
  animation: pulse 1s forwards;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 0 5.5rem rgba(255, 255, 255, 0.1);
  }
}
.home .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 64em) {
  .home .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: end;
  }
}

/*# sourceMappingURL=index.css.map */
